# Required. Database name for postgres
POSTGRES_DB=cncnet-python-map-api

# Required. Username for postgres DB
POSTGRES_USER=map_api

# The database password. Required on prod.
POSTGRES_PASSWORD=

# Required. The location where the postgres data will be saved. The docker volume mounts here
POSTGRES_DATA_DIR=./data/db/

# Required. The location where the app data (maps and such) will be saved. The docker volume mounts here
MEDIA_ROOT=./data/cnc_net_files/

# Port for postgres
POSTGRES_PORT=5432

# Django debug, never enable on prod
DEBUG=0

# Required, this is the crypto key used through django.
# Use `from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())`
# in a python shell to make one then add some random stuff to it.
SECRET_KEY=

# Required for pytest. An account to use for tests that need a JWT. DO NOT COMMIT
TESTING_API_USERNAME=

# Required for pytest. An account password to use for tests that need a JWT. DO NOT COMMIT
TESTING_API_PASSWORD=
