django>=4.2.11,<4.3  # 4.2 is the Long-Term Service version until 2026.
psycopg2==2.*
requests>=2.31,<3.0
djangorestframework>=3.14,<4.0
pyjwt[crypto]>=2.8.0
pillow==10.*
python-lzo==1.15
ujson==5.*
python-magic>=0.4.27
pydantic>=2.10,<3.0
gunicorn>=22.0.0,<23.0.0
