body {
    --bs-body-color: #f1f1f1;
    --bs-body-bg: #141619;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    font-family: "Noto Sans", sans-serif;
}
#flex-main {
    display: flex block;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-self: center;
}

#flex-container {
    display: flex block;
    flex-direction: column;
    padding: 0 15px;
    max-width: 1400px;
}

#header {
    flex-direction: row;
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 65px;
    padding-bottom: 2.5rem;
}

#header > h1 {
    padding: 0;
    margin: 0;
    flex-basis: max-content;
    text-align-last: right;
}

#header > * {
    flex: 1 1 auto;
}

.navbar-brand {
    display: flex;
    width: 225px;
    height: 40px;
    padding: 0;
    position: relative;
    margin-right: 2.5rem;
    font-size: 1.25rem;
}

.navbar-brand img {
    max-width: unset;
}

.logo-tagline {
    position: absolute;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    right: 0;
    top: 33px;
    left: 67px;
    color: #f9f9f98c;
    transition: ease .35s all;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

span.inline-code {
    color: #e6742b;
    display: inline-block;
    border: solid 1px #e6742b;
    border-radius: 4px;
    padding: 1px 3px;
    font-family: monospace;
    font-size: 100%;
    font-weight: bolder;
}

.it {
    font-style: italic;
}

form > *:not(div, button, label) {
    margin: 1rem 0;
    padding: .3rem;
}

form > label {
    margin-top: 1rem;
}

.form-wrapper {
    padding: 1.5rem;
    border-radius: 4px;
    border: 1px solid #00fe89;
}

.form-wrapper > h2 {
  margin: 0 0 2rem 0;
}

form {
    display: flex;
    flex-direction: column;
}

#footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 3.5rem 0;
}

.use-width {
    width: 1400px;
}


form > div {
    display: flex;
    flex-direction: row;
}

form > div:not(:last-child) {
    margin-bottom: 2rem;
}

form > div > div {
    display: flex;
    flex-direction: column;
}

form > div > div > *:not(label) {
    padding: .6rem .5rem;
}

form > div label {
    margin-bottom: .5rem;
}

form > div > div:last-of-type {
    flex-grow: 2;
}

.btn {
    padding: 1rem 0;
    color: #33ffa1;
    background: rgba(0, 255, 208, 0);
    border-color: #33ffa1;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all ease .35s;
    backdrop-filter: blur(15px);
}

.btn:hover {
    background: rgba(0,255,208,.1450980392);
    cursor: pointer;
}

.full-width-flex-row {
    flex: 1 100%;
}

html {
    /* unFOUC */
    visibility: visible;
    opacity: 1;
}
