<!DOCTYPE html>
<html lang="en">
<head>
    <style>html{visibility: hidden;opacity:0;}</style><!-- unFOUC -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CncNet Map DB{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bc-assets/bc-main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&amp;display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cncnet.org/favicon-32x32.png">
</head>
<body>
<div id="flex-main">
<div id="flex-container">
    <div id="header" class="use-width">
        <a class="navbar-brand" href="http://cncnet.org" title="CnCNet Home">
            <img src="https://cncnet.org/build/assets/logo-ad41e578.svg" alt="CnCNet logo" loading="lazy" class="logo-full">
            <span class="logo-tagline">
                Keeping C&amp;C Alive Since 2009
            </span>
        </a>
        <div class="navbar">
            <a href="/search" title="CnCNet Legacy Map Search">Search</a>
            <a href="/upload-manual" title="CnCNet Legacy Map Upload">Upload</a>
        </div>
        <h1>{% block header_text %}404{% endblock %}</h1>
    </div>
    <div id="content">
        {% block wrapped_content %}404{% endblock %}
    </div>
    <div id="footer">
        <a href="https://www.digitalocean.com/?refcode=337544e2ec7b&amp;utm_campaign=Referral_Invite&amp;utm_medium=opensource&amp;utm_source=CnCNet" title="Powered by Digital Ocean" target="_blank">
            <img src="https://opensource.nyc3.cdn.digitaloceanspaces.com/attribution/assets/PoweredByDO/DO_Powered_by_Badge_blue.svg" width="201px" alt="Powered By Digital Ocean">
        </a>
    </div>
</div>
</div>
</body>
</html>
