{% extends "legacy_outer.html" %}

{% block title %}CncNet Test Map Upload{% endblock %}

{% block header_text %}CnCNet 5 client upload test form{% endblock %}

{% block wrapped_content %}
    <p>
        Select a <span class="inline-code"><span class="it">&lt;sha1&gt;</span>.zip</span> from your file system.
        It should contain the <span class="inline-code">.mpr</span> file for
        Red Alert or <span class="inline-code">.ini</span> and
        <span class="inline-code">.bin</span> for Tiberian Dawn.
    </p>
    <p>
        The archive will then be extracted, validated and rebuilt for storage.
        You will receive a <span class="inline-code">200 OK</span> status code if your
        uploaded file was valid.
    </p>
    <div class="form-wrapper">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label hidden="hidden" for="game-slug">Game</label>
            <select id="game-slug" name="game">
                <option value="td" selected="selected">Command &amp; Conquer (Tiberian Dawn)</option>
                <option value="ra" selected="selected">Red Alert 1</option>
                <option value="d2" selected="selected">Dune 2000</option>
                <option value="ts" selected="selected">Tiberian Sun</option>
                <option value="yr" selected="selected">Yuri's Revenge</option>
            </select>
            <label hidden="hidden" for="map-file-input">Map zip file</label>
            <input id="map-file-input" type="file" name="file" accept="application/zip">
            <button type="submit">Upload</button>
        </form>
    </div>
    <p>The CnCNet client will function <strong>exactly</strong> like this form.</p>
{% endblock %}
